.usersList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;

  li {
    background-color: whitesmoke;
    width: 400px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;

    span {
      color: rgba(0, 0, 0, 0.332);
    }
  }
}
